@font-face
{
    font-family: yuruka;
    src: url(fot-yuruka-std.ttf)
}
.winter
{
    position: relative;
    text-align: center;
}
.snow-background
{
    margin: 0%;
    opacity: 30%;
    background-color: rgb(255, 255, 255);
}
.winter-text
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 450%;
    font-family: yuruka;
    color: rgb(252, 86, 86);
}
.i-luv-dis
{
    font-size: 200%;
    font-family: yuruka;
    color: rgb(252, 86, 86);
    text-align: center;
}