@font-face
{
    font-family: yuruka;
    src: url(fot-yuruka-std.ttf)
}
.winter
{
    text-align: center;
    font-size: 300%;
    font-family: yuruka;
    color: rgb(226, 124, 124);
}
.background
{
    background-image: url("images.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 75%;
}