@font-face
{
    font-family: yuruka;
    src: url(fot-yuruka-std.ttf)
}
.winter
{
    position: relative;
    text-align: center;
}
.winter-text
{
    text-align: center;
    font-size: 300%;
    font-family: yuruka;
    color: rgb(252, 86, 86);
}